footer#footer.topspace-30(style="background-color: black; color:white")
 .hoc(style="height: 150px")
  ul.nopdstart.nospace.font-15(style='padding-left: 20px;')
   li.one_third.first.bold(style='width:30%') LIÊN HỆ VỚI CHÚNG TÔI
    ul.nospace.font-style--none.font-size-footer--min1.topspace-10
     li
      i.fa.fa-map-marker.active
      |  Tầng 4 Tòa nhà HaNoi Group Số 442 Đại Cấn, P.Cống Vi, Q.Ba Đình, Hà Nội
     li
      p
       i.fa.fa-phone.active
       |  (04) 6674 2332  -	<i class="fa fa-fax active"></i>  (04) 3786 8904 
     li
      p
       i.fa.fa-phone.active
       |  (08) 6680 9686  &nbsp <i class="fa fa-envelope active"></i><em><a href="mailto:Support@bizweb.vn"> Support@bizweb.vn</a></em>
   li.one_third
    ul.nospace
     li.one_half.bold.font-15.first CHUYỂN HÀNG
      ul.nospace.font-style--none.font-size-footer--min2.topspace-10
       li
        a(href="#") Mua sắm trực tuyến
       li
        a(href="#") Đến từ chúng tôi gửi đến
       li
        a(href="#") Chính sách vận chuyển
       li
        a(href="#") Vận chuyển thông tin
     li.one_half.bold.mrsp HỖ TRỢ
      ul.nospace.font-style--none.font-size-footer--min2.topspace-10
       li
        a(href="#") Câu chuyện của chúng ta
       li
        a(href="#") Thanh toán an toàn
       li
        a(href="#") Tùy chọn vận chuyển 
       li
        a(href="#") Chính sách vận chuyển
   li.one_third
    ul.nospace
     li.one_half.bold.first THÔNG TIN
      ul.nospace.font-style--none.font-size-footer--min2.topspace-10
       li
        a(href="#") Về chúng tôi
       li
        a(href="#") Điều khoản và điều kiện
       li
        a(href="#") Chính sách riêng tư
       li
        a(href="#") Đơn đặt hàng và Returns
     li.one_half.bold.mrsp MY ACCOUNT
      ul.nospace.font-style--none.font-size-footer--min2.topspace-10
       li
        a(href="#") Xem giỏ hàng
       li
        a(href="#") Sản phẩm yêu thích
       li
        a(href="#") Kiểm tra
       li
        a(href="#") Theo dõi đơn đặt hàng của tôi
 hr.hrfooter
 .hoc(style='padding:0 40px;')
  #copyright.inline @Copyright 2008-2014 DKT Technology JSC
  img.inline.fl_right(src="images/visa.png")