//- Info of page 
mainav.hoc.outspace-50
 ul.outspace-20.topspace-20.center.nopdstart
  li.hoc.inline.first.space2-30
   i.fa.fa-plane.center.font-20
   br
   p Miễn phí vận chuyển
  li.hoc.inline.space2-30.border-left
   i.fa.fa-gift.center.font-20
   br
   p Nhận ngay quà tặng trị giá 350.000đ
  li.hoc.inline.space2-30.border-left
   i.fa.fa-star.center.font-20
   br
   p Giảm 30% cho đơn hàng trên 5.000.000đ
 .hoc.flex
  div
   figure.flex
    figcaption.info1.flex1.pstrelative(style= "background-image: url(images/home1.png)")
     .arrow1
    figcaption.info2.flex1.pstrelative(style="background-color: #e3ce33")
     p.center.font-20.inspace-80.verticalmid.color--white.roboto SỮA TẮM
      br
      img(src='images/gachduoitrang.png')
   figure.flex
    figcaption.info4.flex1.pstrelative(style="background-color: #cbd3df")
     p.center.bold.font-20.inspace-80 NƯỚC HOA
      br
      img(src='images/gachduoiden.png')
    .arrow2
    figcaption.info5.flex1.pstrelative(style= "background-image: url(images/Home2.png)")
     p.bold.under.infoct5-1 Từ 1/6 - 5/6/2015
     pre.font-50.infoct5-2.bold -40
      sup %
     pre.infoct5-3.under.bold Mua hàng
  .flex2
   .info3(style="background-image: url(images/home3.png)")
    p.infoct3-1.roboto.font-15(style="color: #c59451") CORINNE2015
 .hoc.flex
  .flex1
   .info6(style="background-image: url(images/Home4.png)")
    p.infoct6-1.roboto.font-20 COMBO TẮM TRẮNG
    pre.UTM.infoct6-2.font-50 Tai Nhà
  .info6-fixmargin
   figure.flex
    figcaption.info1.flex1.pstrelative(style="background-color: #88d8da")
     .arrow3
     p.center.bold.font-20.inspace-80.verticalmid TRANG SỨC
      br
      img(src='images/gachduoiden.png')
    figcaption.info7.flex1(style= "background-image: url(images/Home5.png)")
   figure.flex
    figcaption.info8.flex1(style= "background-image: url(images/Home6.png)")
    .arrow4
    figcaption.info1.flex1.pstrelative(style="background-color: #f49ac2")
     img.infoct9-1(src='images/info9.png')
     img.infoct9-2(src='images/info9-2.png')
 //- Bonus info page 
 .hoc.topspace-30
  .info10
   img(src='images/7image.png').info10-1.circle.
   .info10-2
    p "Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kì lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto"
    pre TUTILE 
     em.color--gray _ Giám đốc phát triển sản phẩm 
    i.fa.fa-square &nbsp
    i.fa.fa-square.color--gray &nbsp
    i.fa.fa-square
   img.fl_right.info10-3(src='images/Home8.png')
 //- End info page 