//- Item sell 
section.topspace-30.outspace-30(style= "height: 520px;background-image: url(images/background-items.png)")
 ul.hoc.center.italic
  li.inline.font-15.bold(style="color: #c1c1c1") Sản phẩm mới
  li.inline.item-active.bold Sản phẩm bán chạy
  li.inline.font-15.bold(style="color: #c1c1c1") Sản phẩm đặc biệt
 img.outspace-10.center.item1(src='images/gachduoi-item.png') 
 ul.hoc.center(style="color: #c1c1c1")
  li.inline Mỹ phẩm
  li.inline Chăm sóc da
  li.inline Dành cho tóc
  li.inline Nước hoa
  li.inline.active Trang sức
  li.inline Quà tặng
 ul.topspace-30
  li.center.first.one_six.overlay.blur
   img.item-height(src='images/mypham5.png').nospace
   pre.nospace(style="color: #c1c1c1;") .........................
   p.nospace(style="color: #c1c1c1") TYFFANY
   p.bold.nospace Mỹ phẩm châu Âu
   s.nospace <pre style="margin:0">         </pre>
   p.bold.italic.active.nospace.inline(style="font-size: medium; color: red") 355.000
    sup đ
  img.item-leftarrow(src='images/item-leftarrow.png')
  li.center.one_six.triggeritem
   img.item-height(src='images/mypham1.png').nospace
   pre.nospace(style="color: #c1c1c1;") .........................
   p.nospace(style="color: #c1c1c1") OHUI
   p.bold.nospace Mỹ phẩm châu Âu
   s.nospace <pre style="margin:0">         </pre>
   p.bold.italic.active.nospace(style="font-size: medium") 355.000
    sup đ
   button.bold.btn.btn-item1 MUA HÀNG
   button.btn.btn-item2.fa.fa-heart
   button.btn.btn-item3.fa.fa-refresh
  li.center.one_six.triggeritem
   img.item-height(src='images/mypham3.png').nospace
   pre.nospace(style="color: #c1c1c1;") .........................
   p.nospace(style="color: #c1c1c1") HOME
   p.bold.nospace Mỹ phẩm châu Âu
   s.nospace <pre style="margin:0">         </pre>
   p.bold.italic.active.nospace.inline(style="font-size: medium") 355.000
    sup đ
   p.nospace.inline.italic(style="font-size: unset; color: #c1c1c1") 455.000
    sup đ
   button.bold.btn.btn-item1 MUA HÀNG
   button.btn.btn-item2.fa.fa-heart
   button.btn.btn-item3.fa.fa-refresh
  li.center.one_six.triggeritem
   img.item-height(src='images/mypham2.png').nospace
   pre.nospace(style="color: #c1c1c1;") .........................
   p.nospace(style="color: #c1c1c1") DEBORA
   p.bold.nospace Mỹ phẩm châu Âu
   s.nospace <pre style="margin:0">         </pre>
   p.bold.italic.active.nospace(style="font-size: medium") 355.000
    sup đ
   button.bold.btn.btn-item1 MUA HÀNG
   button.btn.btn-item2.fa.fa-heart
   button.btn.btn-item3.fa.fa-refresh
  li.center.one_six.triggeritem
   img.item-height(src='images/mypham4.png').nospace
   pre.nospace(style="color: #c1c1c1;") .........................
   p.nospace(style="color: #c1c1c1") SARVON
   p.bold.nospace Mỹ phẩm châu Âu
   s.nospace <pre style="margin:0">         </pre>
   p.bold.italic.active.nospace(style="font-size: medium") 355.000
    sup đ
   button.bold.btn.btn-item1 MUA HÀNG
   button.btn.btn-item2.fa.fa-heart
   button.btn.btn-item3.fa.fa-refresh
  img.item-rightarrow(src='images/item-rightarrow.png')
  li.center.one_six.blur
   img.item-height(src='images/mypham6.png').nospace
   pre.nospace(style="color: #c1c1c1;") .........................
   p.nospace(style="color: #c1c1c1") TYFFANY
   p.bold.nospace Mỹ phẩm châu Âu
   s.nospace <pre style="margin:0">         </pre>
   p.bold.italic.active.nospace.inline(style="font-size: medium; color:red") 355.000
    sup đ
  //-  End item sell