//- Heading page
div
 img.bigbanner(src='images/headbanner2.png' alt='headbanner2') 
 header#header
  .menu
   .logo.fl_left
    a(href="#")
     img(src='images/logo.png', alt='logo')
   nav.uppercase.inline
    ul.clear.center
     li
      a(href="#") Trang chủ
     li
      a(href="#") Giới thiệu
     li
      a.active(href="#") Sản phẩm 
       i.fa.fa-angle-down
     li
      a(href="#") Tin tức
     li
      a(href="#") Bản đồ
     li
      a(href="#") Liên hệ
   nav.fl_right.inline
    ul.clear 
     li
      a(href="#") 
       i.fa.fa-shopping-cart
     li.mr-left20
      a(href="#") 
       i.fa.fa-search